body{
background-image: url('https://d3uhnnsvth2wmm.cloudfront.net/eyJidWNrZXQiOiJrbHItYXNzZXRzIiwia2V5IjoiYmFubmVyL2Jhbm5lci1jYXJlZXItc2VjdGlvbi5wbmciLCJlZGl0cyI6eyJwbmciOnsicXVhbGl0eSI6ODIsInByb2dyZXNzaXZlIjpmYWxzZX0sInJlc2l6ZSI6eyJ3aWR0aCI6MTIwMCwiaGVpZ2h0Ijo2MzAsImZpdCI6ImNvdmVyIn0sInNoYXJwZW4iOnRydWV9fQ==?mtime=1563985740');
}

img {
  border: 5px solid lavender;
  border-radius: 4px;
  padding: 3px;
  object-fit: contain;
}

.header {
  padding: 5px;
  text-align: center;
  background: mediumslateblue;
  color: white;
  font-size: 30px;
}

.card {
  margin: 10px;
  padding: 5px;
  text-align: center;
  align-content: center;
  background-color: #f1f1f1;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.footer{
  padding: 5px;
  text-align: center;
  background: mediumslateblue;
  color: white;
  font-size: 20px;
}

.inline {
  display: inline; 
}

.tab {
  padding-left: 105px;
}

.tab2 {
  padding-left: 60px;
}
